body {
font-family: arial;
padding:70px;
background-image: url("http://pre06.deviantart.net/fae5/th/pre/f/2012/155/3/0/the_elusive_prize_by_chickenman_16-d52bpx7.png");
}
.nav {
  display: block;
  background-image: url("http://pre06.deviantart.net/250e/th/pre/i/2012/127/0/3/ipad_wallpaper_mc_dirt_by_xseanx123-d4ywq8d.png");
  padding: 10px;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
}
